@page
@model LaTrobeScheduler.Pages.SubjectInstances.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SubjectInstance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SubjectInstance.SubjectInstanceID" />
            <div class="form-group">
                <label asp-for="SubjectInstance.SubjectID" class="control-label"></label>
                <select asp-for="SubjectInstance.SubjectID" class="form-control" asp-items="ViewBag.SubjectID"></select>
                <span asp-validation-for="SubjectInstance.SubjectID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectInstance.LecturerID" class="control-label"></label>
                <select asp-for="SubjectInstance.LecturerID" class="form-control" asp-items="ViewBag.LecturerID"></select>
                <span asp-validation-for="SubjectInstance.LecturerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectInstance.StudentNumbers" class="control-label"></label>
                <input asp-for="SubjectInstance.StudentNumbers" class="form-control" />
                <span asp-validation-for="SubjectInstance.StudentNumbers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectInstance.StartDate" class="control-label"></label>
                <input asp-for="SubjectInstance.StartDate" class="form-control" />
                <span asp-validation-for="SubjectInstance.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
