@page
@model LaTrobeScheduler.Pages.Lecturers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Lecturer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Lecturer.LecturerID" />
            <div class="form-group">
                <label asp-for="Lecturer.LastName" class="control-label"></label>
                <input asp-for="Lecturer.LastName" class="form-control" />
                <span asp-validation-for="Lecturer.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lecturer.FirstMidName" class="control-label"></label>
                <input asp-for="Lecturer.FirstMidName" class="form-control" />
                <span asp-validation-for="Lecturer.FirstMidName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lecturer.WorkLoad" class="control-label"></label>
                <input asp-for="Lecturer.WorkLoad" class="form-control" />
                <span asp-validation-for="Lecturer.WorkLoad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lecturer.KnownSubjects" class="control-label"></label>
                <input asp-for="Lecturer.KnownSubjects" class="form-control" />
                <span asp-validation-for="Lecturer.KnownSubjects" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lecturer.EmailAddress" class="control-label"></label>
                <input asp-for="Lecturer.EmailAddress" class="form-control" />
                <span asp-validation-for="Lecturer.EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
